<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
        <property name="url" value="jdbc:mysql://127.0.0.1:3306/ssh"></property>
        <property name="username" value="root"></property>
        <property name="password" value="root"></property>
    </bean>
    <!--SessionFactory-->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"></property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="hibernate.show_sql">true</prop>
            </props>
        </property>
        <property name="mappingResources">
            <list>
                <value>com/muyu/pojo/User.hbm.xml</value>
            </list>
        </property>
    </bean>

    <!--DAO-->
    <bean id="userDao" class="com.muyu.UserDao.UserDao">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <!--Service-->
    <bean id="userService" class="com.muyu.service.UserService">
        <property name="userDao" ref="userDao"></property>
    </bean>

    <!--Action  在Struts.xml中引用-->
    <bean id="userAction" class="com.muyu.Action.UserAction">
        <property name="userService" ref="userService"></property>
    </bean>
</beans>