<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

        <import resource="spring.xml"></import>
        <bean id="a" class="com.muyu.demo1.A" p:id="2"></bean>

        <bean id="b" class="com.muyu.demo1.B">
            <property name="a">
                <ref bean="a"></ref>
            </property>
        </bean>
</beans>